@font-face {
    font-family: SSPL;
    src: url(../fonts/sourcesanspro/SourceSansPro-Light.otf);
}
@font-face {
    font-family: OS;
    src: url(../fonts/opensans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OSB;
    src: url(../fonts/opensans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: SSPB;
    src: url(../fonts/sourcesanspro/SourceSansPro-Black.otf);
}
