$colorwhite: #fff;
$color2:#19BD9A;
$color3:#81868E;
$color4:#333B46;
$color5:#F3F3F3;
$color6:#525252;
$color7:#E1E4E9;
$color8:#D8DCE0;






$face:#3B5998;
$twit:#26A6D1;
$in:#0E76A8;
$inctag:#3F729B;
$vin:#86C9EF;